<ion-content class="ion-text-center">
  <ion-text color="dark">
    <h2>Ionic Pizza</h2>
  </ion-text>
  <ion-text color="medium">
    Usamos los mejores ingredientes para hacer la mejor pizza. Este no es el lema corporativo de Papa John's. Cualquier semejanza con la relaidad es pura casualidad.
    <br /><br />
    Producimos la mejor pizza desde el inicio de este bimestre de 2024. <br />
    <b>¡Prueba la mejor pizza de tu ciudad!</b>
  </ion-text>

  <ion-row class="ion-justify-content-center">
    <ion-col size-xs="12" size-sm="10" size-md="8" size-lg="6" size-xl="4">
      <img
        src="./assets/company/imgs/brand.jpg"
        alt="Brand"
        class="ion-margin-top"
      />
    </ion-col>
  </ion-row>
</ion-content>
