<ion-content>
  <div class="hero"></div>

  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        size-md="4"
        offset-xl="3"
        size-xl="2"
        class="ion-text-center"
      >
        <ion-icon name="location" color="primary"></ion-icon>
        <ion-text color="dark">1. Elige tu ubicación</ion-text>
        <ion-text color="medium"
          >Ingresa tu dirección o permítenos utilizar tu ubicación.</ion-text
        >
      </ion-col>
      <ion-col size="12" size-md="4" size-xl="2" class="ion-text-center">
        <ion-icon name="fast-food" color="primary"></ion-icon>
        <ion-text color="dark">2. Elige tu pedido</ion-text>
        <ion-text color="medium"
          >¿Qué te gustaría pedir? Elige de nuestro menú.</ion-text
        >
      </ion-col>
      <ion-col size="12" size-md="4" size-xl="2" class="ion-text-center">
        <ion-icon name="card" color="primary"></ion-icon>
        <ion-text color="dark">3. Pago y entrega</ion-text>
        <ion-text color="medium"
          >Paga en línea y recibe tu pedido sin contacto.</ion-text
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
